@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 660px) {
  .mobileHide {
    display: none;
    width: 0px;
  }
  .mobileShow {
    display: block;
  }
}

@media (min-width: 660px) {
  .mobileHide {
    display: block;
  }
  .mobileShow {
    display: none;
    width: 0px;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 0.8vh;
  height: 0.8vh;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #4bffac;
}
*::-webkit-scrollbar-track {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #4bffac;
  border-radius: 20px;
}
